/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/data
/database/*
/app/Http/Controllers/Traits/StockTrait.php
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
*.zip
*.sql
*.rar
/bootstrap/cache

